.wrapper {
    width: 50vh;
    height: 60vh;
    background-color: white;
    border-radius: 15px;
    margin-left: 50px;
}
.textarea {
    min-width: 100px;
    min-height: 50px;
    resize: none;
}
